body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2em;
}

.hiden {
  display: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  /* Phone devices */
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

@media screen and (min-width: 768px) {
  .container {
    /* Tablet devices */
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    /* Desktop */
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Header */
.haeder {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.haeder-container {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-list {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}

.header-item {
  padding: 24px 0;

  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-adress-link {
  display: flex;
  margin-left: 332px;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 767.98px) {
  .header-adress-link {
    display: none;
  }
}

.header-link-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;

  /* margin-right: 76px; 
  margin-top: 25.5px;
  margin-bottom: 25.5px;
  */
}

.header-link-logo-part {
  color: #2e2f42;
}

.header-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active {
  position: relative;
  color: #404bbf;
}
.header-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;

  display: block;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-adress {
  display: flex;
  gap: 40px;
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}
.header-adress-link-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link-item:hover,
.header-adress-link-item:focus {
  color: #404bbf;
}

/* 1 section */
.hero-section {
  background: #2e2f42;
  padding: 188px 0;
  margin: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section-text {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-section-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;

  background-color: #4d5ae5;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: #404bbf;
}

/* 2 section (About us) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-us-section {
  padding: 120px 0;
}
.about-us-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;

  background-color: #f4f4fd;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  border-radius: 4px;
  margin-bottom: 8px;
}
.about-us-list {
  display: flex;
  gap: 24px;
}
.about-us-list-item {
  width: calc((100% - 72px) / 4);
}
.about-us-subject {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-us-text {
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}
/* 3 Section */
.team-section {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-section-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-section-list {
  display: flex;
  gap: 24px;
}

.team-social-list-item {
  width: 40px;
  height: 40px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-icon:hover,
.team-social-list-icon:focus {
  background-color: #404bbf;
}

.team-section-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-section-subject {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-section-subject-item {
  color: #434455;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}

.team-section-subject-item:hover {
  transform: translateY(0%);
}
.name-position {
  padding: 32px 0;
}
/* 4 section */
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-section-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-section-list-item:hover .overlay {
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  margin-bottom: 72px;

  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-section-subject {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-section-subject-item {
  color: #434455;
  letter-spacing: 0.02em;
}
.portfolio-section-list-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-link-logo-part {
  color: #f4f4fd;
}
.footer-subject {
  margin-right: 120px;
}

.footer-subject-item {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.header-link-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon:hover,
.footer-social-list-icon:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: #f4f4fd;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 24px;
  padding-top: 72px;

  width: 408px;
  min-height: 584px;
  flex-shrink: 0;

  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.modal-btn {
  position: absolute;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-wrapper {
  margin-bottom: 8px;
}
.form-wrapper-comment {
  margin-bottom: 16px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-field {
  position: relative;
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: #4d5ae5;
}

.agreement-form {
  margin-bottom: 24px;
}

.form-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
}

.form-agreement-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}
.checkbox:checked + .form-agreement > .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-agreement-icon {
  opacity: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked
  + .form-agreement
  > .form-agreement-checkbox
  > .form-agreement-icon {
  opacity: 1;
}

.form-agreement-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-backdrop {
  margin-left: 80px;
}
.footer-backdrop-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.footer-backdrop-form {
  display: flex;
  gap: 24px;
}

.footer-backdrop-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-backdrop-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-btn-svg {
  margin-left: 16px;
  fill: #fff;
}

/* Mobile menu  */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 72px 14px 40px;

  background-color: #fff;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 300ms ease, visibility 300ms ease;
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.mobile-menu .menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
}

.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu-link.curent {
  color: #404bbf;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contacts {
}
.mobile-menu-contact {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  color: #434455;
}
.mobile-menu-contact.accent {
  color: #4d5ae5;
}
.mobile-menu-social-list {
}
.mobile-menu-social-list-item {
  min-width: 40px;
  height: 40px;
}
.mobile-menu-social-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.mobile-menu-social {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.mobile-menu-social .mobile-menu-social-list-icon {
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;
}
