body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  /* Phone devices */
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    /* Tablet devices */
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    /* Desktop */
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

section {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media only screen and (min-width: 1158px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
/* Header */
.haeder {
  padding: 17px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}

.haeder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
}

.header-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.header-link-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .header-link-logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-link-logo {
    margin-right: 76px;
  }
}

.header-link-logo-part {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}

.header-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: block;
  line-height: 1.5;
  font-size: 16px;
}

.header-item .header-link:hover,
.header-item .header-link:focus {
  color: #404bbf;
}

.header-link.active {
  color: #404bbf;
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;

  transition-property: transform;
  transform: scaleX(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-link.active::after {
    display: inline-block;
  }
}

.header-link:hover:after,
.header-link:focus:after,
.header-link.active:after {
  transform: scaleX(1);
}

.header-link.active {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .header-adress {
    display: flex;
    margin-left: auto;
  }
}

.header-adress-list {
  display: none;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .header-adress-list {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-adress-list {
    font-size: 16px;
    flex-direction: row;
    gap: 40px;
  }
}

.header-adress-link {
  padding: 24px 0;
}

@media only screen and (min-width: 768px) {
  .header-adress-link {
    padding: 0;
  }
}

.header-adress-link-item {
  padding: 22px 0;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .header-adress-link-item {
    padding: 0;
  }
}

.header-adress-link .header-adress-link-item:hover,
.header-adress-link .header-adress-link-item:focus {
  color: #404bbf;
}

.burger-btn {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

/*  

.header-item {
  margin-right: 20px;
  padding: 24px 0;

  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1158px) {
  .header-item {
    margin-right: 20px;
  }
}
.header-item:last-child {
  margin-right: 0;
}

.header-adress-link {
  display: flex;
  margin-left: 332px;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 767.98px) {
  .header-adress-link {
    display: none;
  }
}
















.header-adress-link-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 */
/* 1 section */
.hero-section {
  background: #2e2f42;
  padding: 188px 0;
  margin: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section-text {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-section-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;

  background-color: #4d5ae5;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: #404bbf;
}

/* 2 section (About us) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-us-section {
  padding: 120px 0;
}
.about-us-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;

  background-color: #f4f4fd;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  border-radius: 4px;
  margin-bottom: 8px;
}
.about-us-list {
  display: flex;
  gap: 24px;
}
.about-us-list-item {
  width: calc((100% - 72px) / 4);
}
.about-us-subject {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-us-text {
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}
/* 3 Section */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-item {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .team-item {
    gap: 64px 24px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1158px) {
  .team-item {
    gap: 24px;
  }
}

.team-list {
  background-color: #ffffff;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.tem-profession-container {
  padding: 32px 0;
}

.team-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.team-list-svg {
  width: 40px;
  height: 40px;
}

.team-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

.team-svg {
  fill: #f4f4fd;
}

/* 4 section */
.portfolio {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    gap: 24px;
  }
}

.portfolio-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 678px) {
  .portfolio-list {
    width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    width: 356px;
  }
}

.portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .overlay {
  transform: translateY(0);
}

.portfolio-apps-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 108px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
    padding: 0 15px;
    align-items: baseline;
  }
}

.footer-link-logo-part {
  color: #f4f4fd;
}
.footer-subject {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-subject {
    width: 264px;
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-subject {
    margin-right: 120px;
  }
}

.footer-subject-item {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

@media only screen and (max-width: 767.99px) {
  .footer-subject-item {
    margin: 0;
  }
}

.header-link-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social {
  margin-right: auto;
}

@media only screen and (max-width: 767.99px) {
  .footer-social {
    margin: 0;
  }
}

.footer-social-subject {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 1158px) {
  .footer-social-subject {
    text-align: left;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon:hover,
.footer-social-list-icon:focus {
  background-color: #31d0aa;
}

.social-icon {
  fill: #f4f4fd;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  min-width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    min-width: 408px;
    min-height: 584px;
  }
}
.modal-btn {
  position: absolute;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-wrapper {
  margin-bottom: 8px;
}
.form-wrapper-comment {
  margin-bottom: 16px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-field {
  position: relative;
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: #4d5ae5;
}

.agreement-form {
  margin-bottom: 24px;
}

.form-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
}

.form-agreement-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}
.checkbox:checked + .form-agreement > .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-agreement-icon {
  opacity: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked
  + .form-agreement
  > .form-agreement-checkbox
  > .form-agreement-icon {
  opacity: 1;
}

.form-agreement-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-backdrop {
  margin-left: 80px;
  margin-left: auto;
}
.footer-backdrop-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.footer-backdrop-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-backdrop-form {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-backdrop-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-backdrop-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-btn-svg {
  margin-left: 16px;
  fill: #fff;
}

/* Mobile menu  */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: 0;
  background-color: #fff;
  fill: #2f2f37;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 72px 14px 40px;

  background-color: #fff;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 300ms ease, visibility 300ms ease;
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.mobile-menu .menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
}

.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu-link.curent {
  color: #404bbf;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contacts {
}
.mobile-menu-contact {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #434455;
}
.mobile-menu-contact.accent {
  color: #4d5ae5;
}
.mobile-menu-social-list {
}
.mobile-menu-social-list-item {
  min-width: 40px;
  height: 40px;
}
.mobile-menu-social-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.mobile-menu-social {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.mobile-menu-social .mobile-menu-social-list-icon {
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;
}
